<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Here you can register </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        body{background-color: #3e3e3e;
            color: white}
    </style>
</head>
<body>
<div class="container">
    <form th:method="POST" th:action="@{add}" th:object="${user}">
        <h2 class="form-signin-heading">Add a new user</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" name="username" class="form-control" th:field="*{username}" placeholder="Username" id="username" required="" autofocus=""/>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" name="password" class="form-control" th:field="*{password}" placeholder="Password" id="password" required=""/>
        </p>
        <p>
            <label for="name" class="sr-only">Name</label>
            <input type="text" name="name" class="form-control" th:field="*{name}" placeholder="Name" id="name"/>
        </p>
        <p>
            <label for="lastname" class="sr-only">Lastname</label>
            <input type="text" name="lastname" class="form-control" th:field="*{lastname}" placeholder="Lastname" id="lastname"/>
        </p>
        <div class="form-group">
            <label for="sel1">Select role:</label>
            <select name="roleName" class="form-control" id="sel1"  required="">
                <option th:each="role : ${roles}" th:text="${role.getAuthority()}"></option>
            </select>
<!--            <select th:field="*{percentage}">
                <option th:each="i : ${#numbers.sequence(0, 100)}" th:value="${i}" th:text="${i}">
                </option>
            </select>-->
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" >add</button>

    </form>
</div>
</h1>
<div class="container">
    <form class="form-signin" method="get" action="/logout">
        <button class="btn btn-lg btn-primary btn-block" type="submit">logout</button>
    </form>
</div>
</body>
</html>