<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Here you can sign in </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        body{background-color: #3e3e3e;
            color: white}
    </style>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="/admin/users/delete">
        <h2 class="form-signin-heading">Provide id of user you want to delete</h2>
        <p>
            <label for="id" class="sr-only">Id</label>
            <input type="text" id="id" name="id" class="form-control" placeholder="id of user" required="" autofocus="">
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">delete</button>
    </form>
</div>
<div class="container">
    <form class="form-signin" method="get" action="/logout">
        <button class="btn btn-lg btn-primary btn-block" type="submit">logout</button>
    </form>
</div>
</body>
</html>