<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:margin-left="http://www.w3.org/1999/xhtml"
      xmlns:margin-right="http://www.w3.org/1999/xhtml"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>All users table</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        table.center {
            margin-left: auto;
            margin-right: auto;
        }

    </style>
</head>
<body>
<h1>
    <table class="center" width="35%">
        <thead>
        <tr>
            <th> id </th>
            <th> name </th>
            <th> lastname </th>
            <th> username </th>
            <th> role </th>
            <th> is Active </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${usersList}">
            <td><span th:text="${user.id}"> Id </span></td>
            <td><span th:text="${user.name}"> Name </span></td>
            <td><span th:text="${user.lastname}"> Lastname </span></td>
            <td><span th:text="${user.username}"> Username </span></td>
            <td><span th:text="${user.getRolesString()}"> Role </span></td>
            <td><span th:text="${user.isActiveString()}"> is Active </span></td>
        </tr>
        </tbody>
    </table>
</h1>
<div class="container">
    <form class="form-signin" method="get" action="/admin/users/add">
        <button class="btn btn-lg btn-primary btn-block" type="submit">add user</button>
    </form>
</div>
<div class="container">
    <form class="form-signin" method="get" action="/admin/users/delete">
        <button class="btn btn-lg btn-primary btn-block" type="submit">delete user by id</button>
    </form>
</div>
<div class="container">
    <form class="form-signin" method="get" action="/admin/users/update">
        <button class="btn btn-lg btn-primary btn-block" type="submit">update user by id</button>
    </form>
</div>
<div class="container">
    <form class="form-signin" method="get" action="/logout">
        <button class="btn btn-lg btn-primary btn-block" type="submit">logout</button>
    </form>
</div>
</body>
</html>